<form action="/locations/<%= @location.slug %>" method="post">
    <ul>
    <% @user.locations.each do |location| %>
        <li><a href="/locations/<%= location.id %>"><%= location.name %></a></li>
    <% end %>
    </ul>
    <select name="location[name]">
        <% @user.locations.each do |location| %>
            <option value="<%= location.slug %>"><%= location.name %></option>
        <% end %>
    </select>
    <button type="submit">See Restaurants</button>

    <br><br>
    <% @user.locations.each do |location| %>
        <input type="submit" name="location[name]" value="<%= location.name %>"><br><br>
    <% end %>
    
</form>
<br><br>
<ul>
    <% @user.locations.each do |location| %>
        <li><a href="/locations/<%= location.id %>" value="<%= location.id %>"><%= location.name %></a></li>
    <% end %>
</ul> 
<br>