<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>

<h2><%= @restaurant.name %></h2>

<h3>Type</h3>
<%= @restaurant.food_type %>
<br><br>
<h3>Location</h3>
<%= @restaurant.location.name %>
<br><br>
<h3>Notes</h3>
<%= @restaurant.notes %>
<br><br>
<a href="/restaurants/<%= @restaurant.slug %>/edit"><button type="submit">Edit</button></a>
<br><br>
<form action="/restaurants/<%= @restaurant.slug %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <button type="submit" class="delete_button">Delete Restaurant</button>
</form>
<br><br>
<a href="/users/<%= current_user.slug %>"><button type="submit">Home</button></a> 
<a href="/logout"><button type="submit">Logout</button></a>